@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


*{
  margin:0px;
  padding : 0px;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.app {
  @apply flex justify-center items-center flex-col max-w-7xl mx-auto sm:px-16 px-6 ;
}

.desc {
  @apply mt-4 text-lg text-gray-500  ml-20 sm:text-xl max-w-4xl text-center;
}

.violet_gradient {
  @apply bg-gradient-to-r from-purple-500 via-indigo-500 to-pink-500 bg-clip-text text-transparent;
}

.head_text {
  @apply mt-5 text-5xl font-extrabold leading-[1.15] text-black sm:text-6xl;
}

.logo_text {
  @apply font-satoshi font-semibold text-2xl tracking-wide py-5 text-gray-800 max-sm:hidden ;
}

.get_started{
  @apply bg-white text-black font-semibold mt-4 px-16 py-4 shadow-lg shadow-violet-500 rounded-xl hover:bg-violet-500;
}

.sign_io{
  @apply bg-gradient-to-r from-purple-600 to-indigo-500 text-white font-semibold py-3 px-10 rounded-3xl transition hover:shadow-violet-500 shadow-lg; 
}

.flex-between {
  @apply flex justify-between items-center;
}

.welcome_text {
  @apply text-lg font-semibold text-black caret-transparent sm:text-6xl ;
}


.create_task{
  @apply bg-white shadow-lg shadow-violet-300 rounded-xl px-24 py-2 mb-12 text-black caret-transparent hover:bg-violet-500;
}

.back{
  @apply text-violet-500 no-underline caret-transparent font-semibold cursor-pointer text-2xl py-2 px-4 hover:text-black;
}




